<html>
<head>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
   $(function(){
     window.location = 'https://www.bb.org.bd/';
   });
  </script>
</head>
<body>    
</body>
</html>
